<div class="row mt-5">
    <p><small>Disclaimer: This is a demo application/prototype designed and developed by Ioannis Koukotzilas for Epsilon Net Coding School 2023. The functionality and features are not complete and may not be suitable for production use. Built with .NET and Blazor.</small></p>
</div>