@inherits LayoutComponentBase

<div class="page">

    <header class="page-header">
        <NavMenu />
    </header>

    <main class="page-main">

        <div class="content">
            <div class="container-xxl">
                @Body
            </div>
        </div>

    </main>

</div>