<div class="page-title">
    <div class="container-xxl py-3">
        <a class="text-decoration-none fs-4" href="/cashier">Fuel Station Solution</a>
    </div>
</div>

<nav class="main-nav">

    <div class="container-xxl py-5 grid">

        <div class="nav-item">
            <a class="btn btn-dark" href="customers">
                <span class="oi oi-caret-right" aria-hidden="true"></span> Customers
            </a>
        </div>

        <div class="nav-item">
            <a class="btn btn-dark" href="transactions">
                <span class="oi oi-caret-right" aria-hidden="true"></span> Transactions
            </a>
        </div>

    </div>

</nav>