@using FuelStation.Blazor.Shared.DTOs.Customer

@inject HttpClient Http
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

@page "/customer"

<h3>Customers</h3>

@if (entities == null)
{
    <p>Loading...</p>
}
else
{

    <button class="btn btn-primary mb-5" @onclick="Add">Add new customer</button>

    <div class="table-responsive">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Card Number</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var e in entities)
                {
                    <tr>
                        <td>@e.Id</td>
                        <td>@e.Name</td>
                        <td>@e.Surname</td>
                        <td>@e.CardNumber</td>
                        <td>
                            <button class="btn btn-warning" @onclick="() => Edit(e)">Edit</button>
                            <button class="btn btn-danger" @onclick="() => Delete(e)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}

@code {

    private List<CustomerListDto>? entities;

    protected override async Task OnInitializedAsync()
    {
        await LoadItemsFromServer();

    }

    private async Task LoadItemsFromServer()
    {
        entities = await Http.GetFromJsonAsync<List<CustomerListDto>>("customer");
    }

    private void Add()
    {
        navigationManager.NavigateTo("customer/edit");
    }

    private void Edit(CustomerListDto entity)
    {
        navigationManager.NavigateTo($"customer/edit/{entity.Id}");
    }

    private async Task Delete(CustomerListDto entity)
    {
        var confirm = await jsRuntime.InvokeAsync<bool>("confirm", "Confirm customer deletion?");
        if (confirm)
        {
            var response = await Http.DeleteAsync($"customer/{entity.Id}");
            response.EnsureSuccessStatusCode();
            await LoadItemsFromServer();
        }

    }


}