@using FuelStation.Blazor.Shared.DTOs.Customer

@page "/customer/edit/{Id:int?}"

@inject HttpClient Http
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<h3>Customer Edit</h3>


@if (Entity == null)
{
    <p>loading</p>
}
else
{
    @if (Id == null)
    {
        <PageTitle>New Customer - Fuel Station</PageTitle>
        <h1 class="mb-5">New Customer</h1>
    }
    else
    {
        <PageTitle>Edit Customer - Fuel Station</PageTitle>
        <h1 class="mb-5">Edit Customer</h1>
    }

    <EditForm Model="Entity" OnValidSubmit="Save">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row">

            <div class="col-md-6 mb-3">
                <label class="form-label">Name</label>
                <input class="form-control" type="text" placeholder="Enter customer's name" @bind-value=@Entity.Name />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Surname</label>
                <input class="form-control" type="text" placeholder="Enter customer's surname" @bind-value=@Entity.Surname />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Card Number</label>
                <input class="form-control" type="text" readonly @bind-value=@Entity.CardNumber />
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-warning" @onclick="Cancel">Cancel</button>
            </div>
        </div>

    </EditForm>

    <button class="btn" @onclick="GenerateNewCode">Generate New Code</button>

}


@code {

    [Parameter] public int? Id { get; set; }

    CustomerEditDto? Entity { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            Entity = new();
        }
        else
        {
            Entity = await Http.GetFromJsonAsync<CustomerEditDto>($"customer/edit/{Id}");
        }
    }

    private void Cancel()
    {
        navigationManager.NavigateTo("customer");
    }

    private async Task Save()
    {
        HttpResponseMessage? response = null;

        if (Id == null)
        {
            response = await Http.PostAsJsonAsync("customer", Entity);
        }
        else
        {
            response = await Http.PutAsJsonAsync("customer", Entity);
        }

        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("customer");
    }

    /* Generate a 21-character string starting with the letter "A",
    where the next 20 digits are randomly selected. If the code already
    exists in the database, the database will throw an exception. */

    private string GenerateCode()
    {
        var chars = "0123456789";
        var random = new Random();
        var code = "A" + new string(Enumerable.Repeat(chars, 20).Select(s => s[random.Next(s.Length)]).ToArray());
        return code;
    }

    private async Task GenerateNewCode()
    {
        if (Entity != null)
        {
            bool confirm = true;
            if (Id != null)
            {
                confirm = await jsRuntime.InvokeAsync<bool>("confirm", "Confirm customer deletion?");
            }
            if (confirm)
            {
                Entity.CardNumber = GenerateCode();
            }
        }
    }

}

