@using FuelStation.Blazor.Shared.DTOs.Customer

@page "/customer/edit/{Id:int?}"

@inject HttpClient Http
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<h3>Customer Edit</h3>


@if (Customer == null)
{
    <p>loading</p>
}
else
{
    @if (Id == null)
    {
        <PageTitle>New Customer - Fuel Station</PageTitle>
        <h1 class="mb-5">New Customer</h1>
    }
    else
    {
        <PageTitle>Edit Customer - Fuel Station</PageTitle>
        <h1 class="mb-5">Edit Customer</h1>
    }

    <EditForm Model="Customer" OnValidSubmit="Save">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="row">

            <div class="col-md-6 mb-3">
                <label class="form-label">Name</label>
                <input class="form-control" type="text" placeholder="Enter customer's name" @bind-value=@Customer.Name />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Surname</label>
                <input class="form-control" type="text" placeholder="Enter customer's surname" @bind-value=@Customer.Surname />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Card Number</label>
                <input class="form-control" type="text" readonly @bind-value=@Customer.CardNumber />
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-success" type="submit">Save</button>
                <button class="btn btn-warning" @onclick="Cancel">Cancel</button>
            </div>
        </div>

    </EditForm>

    <button class="btn btn-primary" @onclick="GenerateNewCardNumber">Generate new card number</button>

}


@code {

    [Parameter] public int? Id { get; set; }

    CustomerEditDto? Customer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            Customer = new();
        }
        else
        {
            Customer = await Http.GetFromJsonAsync<CustomerEditDto>($"customer/edit/{Id}");
        }
    }

    private void Cancel()
    {
        navigationManager.NavigateTo("customer");
    }

    private async Task Save()
    {
        HttpResponseMessage? response = null;

        if (Id == null)
        {
            response = await Http.PostAsJsonAsync("customer", Customer);
        }
        else
        {
            response = await Http.PutAsJsonAsync("customer", Customer);
        }

        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("customer");
    }

    private async Task GenerateNewCardNumber()
    {
        if (Customer != null)
        {
            string generatedCardNumber = await Http.GetStringAsync("/customer/GenerateCardNumber");

            if (Id == null)
            {
                Customer.CardNumber = generatedCardNumber;
            }
            else
            {
                var confirm = await jsRuntime.InvokeAsync<bool>("confirm", "Confirm generate a new card number?");

                if (confirm)
                {
                    Customer.CardNumber = generatedCardNumber;
                }
            }

        }
    }

}


