@using FuelStation.Blazor.Shared.DTOs.Customer

@inject HttpClient Http
@inject NavigationManager navigationManager

@page "/customer"

<h3>Customers</h3>

@if (customers == null)
{
    <p>Loading...</p>
}
else
{

    <div class="table-responsive">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Card Number</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var customer in customers)
                {
                    <tr>
                        <td>@customer.Name</td>
                        <td>@customer.Surname</td>
                        <td>@customer.CardNumber</td>
                        <td>
                            <button class="btn btn-warning" @onclick="() => Edit(customer)">Edit</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}

@code {

    private List<CustomerListDto>? customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await Http.GetFromJsonAsync<List<CustomerListDto>>("customer");

    }

    private void Edit(CustomerListDto customer)
    {
        navigationManager.NavigateTo($"customer/edit/{customer.Id}");
    }


}