@page "/"

<PageTitle>Fuel Station Solution</PageTitle>

<p><small>Running on .NET with Blazor WebAssembly — Data provided by a local database. App designed and developed by Ioannis Koukotzilas for Epsilon Net Coding School 2023. Thanks for checking this out.</small></p>
